<div id="suggestion-container">
  <div class="header">
    <h3>Workflow Suggestions</h3>
    <p>Click on a suggestion to preview</p>
  </div>

  <div class="suggestions-list">
    <div
      *ngFor="let suggestion of suggestions"
      class="suggestion-item"
      [ngClass]="{'active': activePreviewId === suggestion.id}">
      <div
        class="suggestion-content"
        (click)="togglePreview(suggestion)">
        <span class="description">{{suggestion.description}}</span>
      </div>

      <div
        *ngIf="activePreviewId === suggestion.id"
        class="suggestion-actions">
        <button
          nz-button
          nzType="primary"
          (click)="applySuggestion(suggestion)"
          [disabled]="!canModify">
          <span
            nz-icon
            nzType="check"></span>
          Apply
        </button>
        <button
          nz-button
          nzType="default"
          (click)="dislikeSuggestion(suggestion)"
          [disabled]="!canModify">
          <span
            nz-icon
            nzType="dislike"></span>
          Dislike
        </button>
        <button
          nz-button
          nzType="default"
          (click)="cancelPreview()"
          [disabled]="!canModify">
          <span
            nz-icon
            nzType="close-circle"></span>
          Cancel
        </button>
      </div>
    </div>

    <div
      *ngIf="suggestions.length === 0"
      class="no-suggestions">
      <span>No suggestions available</span>
    </div>
  </div>
</div>
