<div class="ui-udf-param-list" *ngIf="(model?.length ?? 0) > 0">

  <!-- Optional header row -->
  <div class="ui-udf-param-row header">
    <div class="field-cell"><span class="col-title">Value</span></div>
    <div class="field-cell"><span class="col-title">Name</span></div>
    <div class="field-cell"><span class="col-title">Type</span></div>
  </div>

  <div
    class="ui-udf-param-row"
    *ngFor="let param of (model || []); let i = index; trackBy: trackByParamName"
  >
    <ng-container *ngIf="field.fieldGroup?.[i] as rowField">

      <!-- Value -->
      <div class="field-cell">
        <ng-container *ngIf="getValueField(rowField) as valueField">
          <formly-field [field]="valueField"></formly-field>
        </ng-container>
      </div>

      <!-- Name -->
      <div class="field-cell">
        <ng-container *ngIf="getNameField(rowField) as nameField">
          <formly-field [field]="nameField"></formly-field>
        </ng-container>
      </div>

      <!-- Type -->
      <div class="field-cell">
        <ng-container *ngIf="getTypeField(rowField) as typeField">
          <formly-field [field]="typeField"></formly-field>
        </ng-container>
      </div>

    </ng-container>
  </div>
</div>
