.ui-udf-param-row {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  gap: 12px;
  align-items: start;
}

.field-cell {
  min-width: 0;
}

/* Remove Formly/Ant label spacing */
:host ::ng-deep .ant-form-item {
  margin-bottom: 0;
}

/* Hide Formly labels since you already have a header row */
:host ::ng-deep .ant-form-item-label {
  display: none;
}
